body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1, h2 {
    color: #333;
}
form {
    margin-bottom: 20px;
}
input {
    margin-right: 10px;
}
#admin-section, #student-section, #subjects {
    display: none; /* Hide sections initially */
}
img {
    max-width: 150px; /* Adjust size as needed */
    margin-bottom: 20px;
}
.subject-button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    display: inline-block;
}
.subject-button.highlight {
    background-color: red;
    color: white;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
    padding: 5px;
}
.subject-link {
    font-size: 14px;
    color: #0066cc;
    display: block;
}
.subject-container {
    display: flex;  /* Flexbox to arrange items horizontally */
    flex-wrap: wrap; /* Allows wrapping if the screen is too small */
    justify-content: space-around; /* Evenly space buttons */
    margin-top: 20px;
}
